<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Takipçi Yönetimi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-secondary text-light fw-semibold">
    <div class="container mt-5">
        <h1 class="text-center">GitHub Follower Management</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <h4>My Followers (Those Who Don't Follow Me)</h4>
                <ul class="list-group">
                    {% for user in not_following_back %}
                        <li class="list-group-item bg-dark">
                            <img class="rounded-circle" style="width: 36px; height: 36px;" src="{{ user.avatar_url }}" alt="{{ user.login }}_avatar_url">
                            <a href="{{ user.html_url }}" target="_blank">{{ user.login }}</a>
                        </li>
                    {% else %}
                        <li class="list-group-item bg-dark">You have no one to follow.</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h4>People Following Me (People I Don't Follow)</h4>
                <ul class="list-group">
                    {% for user in not_followed_back %}
                        <li class="list-group-item bg-dark">
                            <img class="rounded-circle" style="width: 36px; height: 36px;" src="{{ user.avatar_url }}" alt="{{ user.login }}_avatar_url">
                            <a href="{{ user.html_url }}" target="_blank">{{ user.login }}</a>
                        </li>
                    {% else %}
                        <li class="list-group-item bg-dark">There is no one following you.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
